__pycache__*
.idea
.vscode
DeLorean/SHIFT_TIME
DeLorean/NEW_FILES
intermediaries/filt_interm.pkl

#TeX files

*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync